<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (c) 2018 Ian All copyright reserved.
  ~ Author  Ian
  ~ Project name  MyApplication
  ~ Class name  AndroidManifest.xml
  ~ Created by  ianchang on 2018-04-28 09:16:25
  ~ Last modify date   2018-04-28 09:16:25
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ian.widget">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MenuActivity" />
        <activity android:name=".ScrollViewActivity" />
        <activity android:name=".RefreshActivity"></activity>
        <activity android:name=".RefreshRecycleActivity"></activity>
        <activity android:name=".ViewPageAndRefreshRecycleActivity"></activity>
    </application>

</manifest>