<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (c) 2018 Ian All copyright reserved.
  ~ Author  Ian
  ~ Project name  MyApplication
  ~ Class name  AndroidManifest.xml
  ~ Created by  ianchang on 2018-08-01 18:21:45
  ~ Last modify date   2018-08-01 18:21:44
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ian.printer">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".LockActivity"/>
    </application>

</manifest>